<h1><%= pluralize(@notebooks.count, "notebook") %></h1>

<ul>
  <% @notebooks.each do |n| %>
    <li>
      <article>
        <header>
          <span>
            <h2><%= link_to n.name, n, title: n.description %></h2>
          </span>
        </header>
      </article>
    </li>
  <% end %>
</ul>
