<h1><%= pluralize(@notebooks.count, "notebook") %></h1>

<ul class= "list-unstyled">
  <% @notebooks.each do |n| %>
    <li>
        <%= link_to n.name, n, title: n.description %>
    </li>
  <% end %>
</ul>





