$primary-background-color: #EEEEEE;
$secondary-background-color: #22D6CA;
$primary-text-color: #444;
$secondary-text-color: #DDD;
$primary-link-color: #3E4347;
$secondary-link-color: #CF3A08;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #FAFBFF;
$fieldset-color: lighten($secondary-background-color, 50%);
