@import "colors";

body {
  color: $primary-text-color;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

header#page-header {
  background-color: $secondary-background-color;
  padding: 0px 25px;

  h1 a {
    height: 0px;
    padding-top: 60px;
    font-family: "Esteban", sans-serif;
    color: #C390D4;
    text-decoration: none;
    overflow: hidden;
  }

  div#masthead {
    margin: 0 auto;
    width: 960px;
    position: relative;
    text-shadow: #000 0 0 2px;

    h1 {
      margin: 0;
      color: #fff;
      line-height: 60px;
    }
  }
}

footer#page-footer {
  color: $primary-text-color;
  padding: 20px 25px;

  p {
    text-align: center;
    margin-bottom: 10px;
  }

}